.passwordMessage {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 22px;
}

.passwordMessage span {
    font-weight: bold;
    color: #195da1;
}

.returnBttn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 59px;
    color: #fff;
    background-color: #003366;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;   
    cursor: pointer;
}