.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content {
    background: white;
    padding: 18px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
  
.modal-title {
    font-size: 23px;
    font-weight: 700;
    color: #003366;
}

.modal-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.close-modal-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 59px;
    color: #fff;
    background-color: #003366;
    border-radius: 20px;
    font-size: 19px;
    font-weight: 700;   
    cursor: pointer;
    border: none;
    transition: transform 0.1s;
}

.close-modal-bttn:hover {
    transform: scale(1.05);
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.qr-code {
    width: 130px;
    height: 130px;
}

.download-btn {
    flex: 1;
    width: 160px;
    height: 45px;
    margin-top: 15px;
    background-color: #6c757d; 
    color: #ffffff;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.1s;
}

.download-btn:hover {
    background: #5a6268;
    color: #fff;
    transform: scale(1.05);
}

.edit-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
    width: 160px;
    height: 45px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    font-weight: 500;
    transition: transform 0.1s;
}

.edit-btn:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.save-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 160px;
    height: 45px;
    color: #fff;
    background-color: #2ac427;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    font-weight: 510;
    margin-bottom: 8px;
    margin-top: 8px;
    transition: transform 0.1s;
}

.save-btn:hover {
    transform: scale(1.05);
}

.edit-area input {
    margin-bottom: 5px;
}